---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
    </article>
  </div>
</main>


<ul>
   				                        <li>
   				                            <h3>

   				                            </h3>

   				                        </li>
   				                        <li>
   				                            <h3>
   				                             <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
   								   尊敬的客人，请留下您的建议
   				               <b>留言板：</b></h2>
   						<div id="divc">

   						</div>
   						<hr/>
   						<a name="tips"><input type="text" placeholder="留下您的建议">
   				        <button class="btn btn-block col-xs-18">
   							 <li><a href="/zengziyi/assets/images/aboutme_pinglun.jpg"/></li>发送</button>
   				        </li>
   				              </ul>
